.el-row:last-child {
  	margin-bottom: 0;
 }
 .login-box {
    margin-top:10%;
    margin-left:40%;
 }
 
 body {
      background: #FFF0F5;
      background: -webkit-linear-gradient(right, #FFF0F5, #FFF0F5);
      background: -moz-linear-gradient(right, #FFF0F5, #FFF0F5);
      background: -o-linear-gradient(right, #FFF0F5, #FFF0F5);
      background: linear-gradient(to left, #FFF0F5, #FFF0F5);
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;      
    }